<?xml version='1.0' encoding='utf-8'?>
<widget id="org.eu5.radiahub.wmslite" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>WMS Lite</name>

  <description>Single warehouse, single user WMS stand-alone app testbench</description>

	<author email="radiahub@gmail.com" href="https://sites.google.com/view/radiahub">
			Denis Patrice, Rafael Yunus
	</author>

  <content src="index.html" />

	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />

	<preference name="AndroidInsecureFileModeEnabled" value="true" />
	<preference name="AndroidWindowSplashScreenBackground" value="#000000" />
	<preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/app/res/splash.png" />
	<preference name="AndroidLaunchMode" value="singleTask" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="Orientation" value="portrait" />
	<preference name="LoadUrlTimeoutValue" value="90000" />
	<preference name="backgroundColor" value="0xFF000000" />
	<preference name="package_id" value="radiahub.wmslite" />
	<preference name="gateway" value='{"uri":"","secret":""}'/>
	<preference name="statusbar" value='{"light":"#3A5564", "dark":"#3A5564"}' />
	<preference name="navigationbar" value='{"light":"#FFFFFF", "dark":"#0A1014"}' />

	<platform name="android">
		<hook type="after_prepare" src="hooks/stripExtraWriteExternalStoragePerm.js" />
    <preference name="AndroidPostSplashScreenTheme" value="@style/AppTheme" />
    <resource-file src="www/app/res/styles.xml" target="app/src/main/res/values/styles.xml" />
	</platform>
		
</widget>
